@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.destination-bg{
    width: 100%;
    background-size: cover;
    background-image: url('./assets/destination/background-destination-desktop.jpg');
}

.landing-bg{
    width: 100%;
    background-size: cover;
    background-image: url('./assets/home/background-home-desktop.jpg');
}
.crew-bg{
  width: 100%;
  background-size: cover;
  background-image: url('./assets/crew/background-crew-desktop.jpg');   
}

.container{
    width: 90% !important;
    margin:  0 auto !important;
}
.min-container{
    width: 70%;
    margin: 0 auto;
}
.tech-bg{
    width: 100%;
    background-size: cover;
    background-image: url('./assets/technology/background-technology-desktop.jpg');
}